@model Marca
@{
    ViewData["Title"] = "Detalle de la Marca";
}
    <br />
<h1 class="text">@ViewData["Title"]</h1>
    <br />
<form method="post">
    <div class="mb-3">
        <label>Nombre: @Model.nombreMarca</label>
    </div>
        <br />
    <div class="row col-6">
        <div class="col-6 col-md-6">
            <a asp-action="Index" class="btn btn-light">Regresar</a>
        </div>
    </div>
</form>


