@model Usuario
@{
    ViewData["Title"] = "Inicio";
}
    <br />
<h1>Bienvenido a la pagina de Administracion</h1>
    <br />
<h3>
    Aqui podras realizar cambios relacionados a los productos, proovedores y marcas
</h3>
<br />
<img src="https://concepto.de/wp-content/uploads/2015/06/administracion-e1546820999114.jpg" />


